package car

import (
	"context"
	"errors"

	"{{ vars.global.go_module_path }}/internal/domain"
	"{{ vars.global.go_module_path }}/internal/infrastructure/repository"
)

type GetOperation struct {
	cars domain.CarRepository
}

type GetOperationParams struct {
	ID int64
}

func NewGetOperation(cars domain.CarRepository) *GetOperation {
	return &GetOperation{cars: cars}
}

func (o *GetOperation) Get(ctx context.Context, params *GetOperationParams) (*domain.Car, error) {
	c, err := o.cars.Find(ctx, params.ID)
	if err != nil {
		if errors.Is(err, repository.ErrNotFound) {
			return nil, ErrCarNotFound
		}

		return nil, err
	}

	return c, nil
}
